.screen-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 100px;
    text-align: right;
    background-color: #f8f8f8;
}

.screen-container span {
    padding-right: 10px;
}

.standard {
    font-size: 80px;
}

.small {
    font-size: 55px;
}

.tiny {
    font-size: 30px;
}

.super-tiny {
    font-size: 20px;
}